<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.css" integrity="sha512-rV4fiystTwIvs71MLqeLbKbzosmgDS7VU5Xqk1IwFitAM+Aa9x/8Xil4CW+9DjOvVle2iqg4Ncagsbgu2MWxKQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js" integrity="sha512-p55Bpm5gf7tvTsmkwyszUe4oVMwxJMoff7Jq3J/oHaBk+tNQvDKNz9/gLxn9vyCjgd6SAoqLnL13fnuZzCYAUA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $(document).ready(function() {
            $('.bxslider').bxSlider();
        });
    </script>
</head>
<body>
    <h1>메인 페이지 </h1>
    <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

    <div class="home__slider">
        <div class="bxslider">
            <div th:each="banner : ${banners}">
                <a th:href="${banner.getLink()}" th:target="${banner.getTarget() == 'blank'} ? '_blank' : ''">
                    <img th:src="${banner.getUrlFilename()}" th:alt="${banner.getBannerName()}"/>
                </a>
            </div>
        </div>
    </div>

</body>
</html>
